

.h1-color {
    color: #34BE82;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
}

.h2-size {
    font-family: 'Indie Flower', cursive;
    color: #2FDD92;
    
}
